@import "tailwindcss";

html {
  overscroll-behavior: none;
}

html,
body {
  background-attachment: fixed;
}

* {
  font-family: "Geist", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif !important;
}

body {
  font-family: "Geist", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none;
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button {
  font-family: "Geist", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif !important;
}

textposition: {
  zindex: 10;
}

.p-abolute: {
  bottom: 0;
  left: 0;
  right: 0;
  zindex: 10;
  position: absolute;
}
.chat-area {
  height: calc(100vh - 56px); /* 56px = header height */
  position: relative;
}
