@import "tailwindcss";

html {
  overscroll-behavior: none;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  /* background-attachment: fixed; */
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  font-family: "Geist", sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
  -ms-overflow-style: none; /* IE and Edge */
}

/* 
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div, */
/* button {
  font-family: "Geist", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif !important;
} */

.kavoon {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.geist {
  font-family: "Geist", serif;
}

textposition: {
  zindex: 10;
}

.p-abolute: {
  bottom: 0;
  left: 0;
  right: 0;
  zindex: 10;
  position: absolute;
}
.chat-area {
  height: calc(100vh - 56px); /* 56px = header height */
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ai-fade-in {
  animation: fadeIn 0.5s ease;
}

.none {
  display: none;
}
